# Node
node_modules/
.next/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac / Windows
.DS_Store
Thumbs.db
desktop/runtime/
desktop/dist/
.env.local
.env

desktop/dist-portable-2/
desktop/dist-portable/
desktop/**/win-unpacked/
*.exe
